body {
  background: url("../../assets/images/papyrus-dark.png");
  background-color: #191919;
  font-family: Georgia, "Times New Roman", Times, sans-serif;
}
#cryCol {
  margin-bottom: 2.5%;
  background-color: #fff2d9;
  color: #191919;
  padding-bottom: 1%;
}
.row {
  margin-bottom: 2.5%;
}
#instructText {
  background-color: #333333;
  color: #808080;
}
p::first-letter {
  font-weight: bold;
}
#ruby {
  background-color: rgb(120, 0, 0);
}
#sapphire {
  background-color: rgb(0, 0, 140);
}
#emerald {
  background-color: rgb(0, 60, 0);
}
#topaz {
  background-color: rgb(116, 75, 0);
}
#score,
#curScore,
#goal,
#wLCount {
  background-color: #ff334d;
  color: #191919;
}
#cryCol,
#score,
#curScore,
#goal,
#wLCount,
#ruby,
#sapphire,
#emerald,
#topaz {
  border: 3px solid #191919;
}
#wins,
#losses {
  font-size: 2em;
  line-height: 1em;
}
#goal,
#curScore {
  font-size: 4em;
}
#score {
  font-size: 2em;
  line-height: 1em;
  padding-top: 1%;
}
img {
  width: 100%;
  height: auto;
}
